<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>Driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/pratap_ind</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>java</param-value>
    </context-param>
    <listener>
        <listener-class>servlet.MyContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Insert</servlet-name>
        <servlet-class>servlet.Insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMainCategory</servlet-name>
        <servlet-class>servlet.DeleteMainCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFebric</servlet-name>
        <servlet-class>servlet.DeleteFebric</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSize</servlet-name>
        <servlet-class>servlet.DeleteSize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSetName</servlet-name>
        <servlet-class>servlet.DeleteSetName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewMainServlet</servlet-name>
        <servlet-class>servlet.viewMainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Insert</servlet-name>
        <url-pattern>/Insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMainCategory</servlet-name>
        <url-pattern>/DeleteMainCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFebric</servlet-name>
        <url-pattern>/DeleteFebric</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSize</servlet-name>
        <url-pattern>/DeleteSize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSetName</servlet-name>
        <url-pattern>/DeleteSetName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewMainServlet</servlet-name>
        <url-pattern>/viewMainServlet</url-pattern>
    </servlet-mapping>
</web-app>
